.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  main {
    animation: App-logo-spin 0.7s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .card {
    animation: App-logo-spin 0.7s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn-outline-success {
  transition: transform 0.5s;
}

.btn-outline-success:active {
  transform: scale(1.05);
}

